body {
    background: #E5E5E5;
    color: black;
}

.navMain {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    height: 100px;
    list-style: none;
    padding-inline-end: 20px;
    padding-top: 25px;
    font-family: 'Montserrat';
}

ul li {
    display: inline;
}

a {
    color: black;
    padding-left: 15px;
}

a:hover {
    color: grey;
}